* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-full{
  background-color: lightgrey;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-chat {
  background-color: white;
  display: flex;
  height: 90%;
  width: 80%;
}
.container-left{
  width: 30%;
  background-color: red;
}
.top-left {
  width: 100%;
  height: 10%;
  background-color: blue;
  position: relative;
}
.container-right{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-right {
  width: 100%;
  height: 10%;
  background-color: yellow;
  display: flex;
}
.bottom-right {
  width: 100%;
  height: 10%;
  background-color: green;
  display: flex;
}
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}
.notifiche {
  background-color: #02C0A8;
}
.bell-content i {
  color: #02C0A8;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  float: left;
}
.notifiche-text {
  float: left;
  margin-top: 10px;
}
.search i {
  margin-left: 5px;
}
.search input {
  border-radius: 30px;
  width: 88%;
  margin: 5px;
}
.emoticon {
  width: 10%;
}
.chat {
  width: 80%;
}
.chat-send {
  width: 10%;
}
.chat input {
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  width: 95%;
}
.bottom-right i {
  padding: 20px;
}
