* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* contenitore totale */
.container-full{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
  linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%
    );
    font-family: 'Roboto', sans-serif;
}
/* contenitore del quadrato centrale di tutta l'app */
.container-chat {
  background-color: white;
  display: flex;
  height: 90%;
  width: 80%;
}
/* CONTENITORE DELLA COLONNA DI SINISTRA INIZIO */
.container-left{
  width: 30%;
}
/* contenitore dei contatti cercati */
.top-left {
  width: 100%;
  height: 10%;
  position: relative;
  background-color: lightgrey;
}
.nome-stato {
  float: right;
  width: 80%;
}
.contatti {
  background-color: white;
}
.contatti:hover {
  cursor: pointer;
}
.contatti p {
  font-weight: bold;
}
.contatti:hover {
  background-color: lightgrey;
}
.search {
  background-color: #F3EEEA;
}
.search i {
  margin-left: 5px;
}
.search input {
  border-radius: 10px;
  width: 88%;
  margin: 5px;
  padding: 5px;
}
.contatti {
  border-bottom: 1px solid lightgrey;
}
.icon {
  float: right;
  margin-right: 10px;
}
.icon i {
  padding: 10px 5px;
}
i {
  color: grey;
}
i:hover {
  cursor: pointer;
}
/* contenitore campanella */
.bell-content i {
  color: #8EDAFC;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  float: left;
}
.notifiche {
  background-color: #8EDAFC;
}
.notifiche-text {
  float: left;
  margin-top: 10px;
}
/* CONTENITORE DELLA COLONNA DI SINISTRA FINE */
/* CONTENITORE DELLA PARTE DI DESTRA INIZIO */
.container-right{
  width: 70%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
}
/* barra del contatto in alto */
.top-right {
  width: 100%;
  height: 10%;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}
/* contenitore dei messaggi */
.center-right {
  width: 100%;
  height: 80%;
  background-image: url('https://www.10wallpaper.com/wallpaper/medium/1409/starry_night-Apple_iOS8_iPhone6_Plus_HD_Wallpaper_medium.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  overflow-y: scroll;
  display: none;
}
.center-right.active {
  display: flex;
}
/* barra di inserimento messaggio */
.bottom-right {
  width: 100%;
  height: 10%;
  background-color: #F3EEEA;
  display: flex;
}
.bottom-right i {
  padding: 20px;
}
/* immagini utente */
.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}
.user-img {
  width: 20%;
  height: 10%;
  display: flex;
}
.nome-accesso {
  margin: 15px 0 0 5px;
}
.emoticon {
  width: 10%;
}
.chat {
  width: 80%;
}
.chat-send {
  width: 10%;
}
.chat input {
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  width: 95%;
}
/* CONTENITORE DELLA PARTE DI DESTRA FINE */
/* contenitori non visibili che verranno chiamati dal javascript */
.message {
  position: relative;
  background-color: lightgreen;
  align-self: flex-end;
  border-radius: 10px;
  padding: 20px;
  margin-right: 30px;
}
.message-recevied {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-left: 30px;
}
.template, .template2 {
  display: none;
}
.message-time {
  font-size: 10px;
}
.message-options{
  display: none;
}
.message-options-panel {
	display: none;
	background: white;
	box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
  padding: 5px;
  position: absolute;
  font-size: 15px;
}
.message-options-panel:hover {
  cursor: pointer;
}
.message-options-panel.active {
  display: block;
}
